body {
}
.chat-wrapper {
    position: relative;
}
.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
@media (min-width: 641px) {
    .wrapper {
        height: calc(100vh - 4.6rem);
    }
}
